body {
  background-image: url(https://64.media.tumblr.com/9b084f0cd2f0c914e133e608e5f86c1d/599281a023af5f0f-57/s1280x1920/9d8d19b1f832b1fda453b56500ec045c9aba2449.gifv);
  background-repeat: no-repeat;
  background-size: cover;
}


